<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.conexion" connectionString="Data Source=sql7001.site4now.net;Initial Catalog=DB_A49A8E_NutreVida;User Id=DB_A49A8E_NutreVida_admin;Password=NutreVida123;" />
    </connectionStrings>
</configuration>